.card {
  list-style-type: none;
  border-radius: 6px;
  box-shadow: 0 4px 30px 0 #00000014;
  width: 100%;
}

.card__image {
  width: 100%;
}

.card__description {
  padding: 16px;
  display: flex;
  flex-direction: column;
  gap: 17px;
}

.card__info {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.card__name {
  font-style: normal;
  font-weight: 500;
  font-size: 13px;
  line-height: 16px;
}

.card_hovered:hover {
  cursor: pointer;
}

.card__like {
  background: url("../../images/like_disable.svg");
  margin-right: 8px;
  width: 14px;
  height: 12px;
  border: none;
}

.card__like_active {
  background: url("../../images/like_active.svg");
}

.card_hovered .card__delete {
  display: block;
}

.card__delete {
  display: none;
  background: url("../../images/delete.svg");
  width: 7px;
  height: 7px;
  border: none;
}


.card__duration {
  font-style: normal;
  font-weight: 400;
  font-size: 11px;
  line-height: 13px;
  color: #A0A0A0;
}

@media (max-width: 880px) {

}

@media (max-width: 600px) {
  .card__name {
    font-size: 12px;
    line-height: 15px;
  }

  .card__duration {
    font-size: 10px;
    line-height: 12px;
  }
}
