.profile-button {
  width: 100px;
  height: 32px;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  background-color: white;

  display: flex;
  gap: 7px;
  justify-content: center;
  align-items: center;

  border: 2px solid rgba(170, 170, 170, .2);
  border-radius: 50px;
}

.profile-button__icon {
  width: 12px;
  height: 14px;
}

@media screen and (max-width: 880px) {
  .profile-button_hidden {
    display: none;
  }

  /*.profile-button {*/
  /*  position: fixed;*/
  /*  bottom: 90px;*/
  /*}*/
}
