.portfolio {
  padding-top: 0;
}

.portfolio__title {
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 20px;
  color: #A0A0A0;
}

.portfolio__list {
  margin-top: 35px;
  display: flex;
  flex-direction: column;
  list-style-type: none;
}

.portfolio__item {
  height: 88px;
  border-bottom: 1px solid #E8E8E8;
}

.portfolio__item:last-child {
  border-bottom: none;
}

.portfolio__link {
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.portfolio__item-name {
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  line-height: 50px;
  letter-spacing: -0.04em;
}

.portfolio__link-icon {
  height: 18px;
  width: 18px;
}

@media (max-width: 880px) {
  .portfolio__item-name {
    font-size: 28px;
  }
}

@media (max-width: 600px) {
  .portfolio__item-name {
    font-size: 18px;
    line-height: 28px;
  }

  .portfolio__link-icon {
    height: 14px;
    width: 14px;
  }

  .portfolio__item {
    height: 66px;
  }
}
