.animation-transition {
  transition: all .5s;
}

.hovered-button:hover {
  cursor: pointer;
  opacity: 80%;
}

.hovered-link:hover {
  cursor: pointer;
  opacity: 70%;
}

.disabled-button {
  opacity: 70%;
}

.centred-block {
  text-align: center;
}

.auth__success {
  color: #2BE080;
}
